@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
h1{
    font-family: "Pacifico";
    letter-spacing: .2em;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 2.5em;
    text-decoration: #eee underline;
    margin: 20px 0;
}
html{
    background: url("../img/backgroundtriad.png") center fixed no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
}
#vide, img, .card-top, .card-right, .card-bottom, .card-left{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.img-container{
    width: 104px;
    height: 128px;
    background: transparent !important;
}
#plateau{
    width: 1200px;
    max-width: 1200px;
    height: 450px;
    max-height: 450px;
    margin: auto;
    background: rgba(125, 87, 136, 0.8);
    border-radius: 10px;
    border: 1px solid #444;
    display: flex;
    flex-direction: row;
}
#mainPlayer1, #mainPlayer2{
    flex-wrap: wrap;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    width: 371px;
    padding: 70px 0 0;
    border: solid transparent 2px;
}
.hand-card{
    position: absolute;
}
.card-top, .card-right, .card-bottom, .card-left{
    position: relative;
    display: inline-block;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 1.7em;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}
.card-top{
    margin-top: 7px;
    text-align: center;
    width: 104px;
}
.card-left{
    margin-top: 12px;
    margin-left: 12px;
}
.card-right{
    margin-left: 47px;
}
.card-bottom{
    margin-top: 9px;
    text-align: center;
    width: 104px;
}
#jeu{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
}
.zoneCarte{
    width: 148px;
    height: 148px;
    border: 1px black solid;
    border-radius: 5px;
}
.zoneCarte div{
    margin: 10px 20px;
}
#zc1,#zc3,#zc5,#zc7,#zc9{
    background: #ccc;
}
#zc2,#zc4,#zc6,#zc8{
    background: #eee;
}
#scoreTab{
    position: absolute;
    width: 400px;
    line-height: 30px;
    background: #7d5788;
    border: 3px #000 solid;
    border-radius: 10px;
    margin: 132px 25px;
    text-align: center;
    font-family: "Pacifico";
    font-size: 2.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: .1em;
    display: none;
    animation: scoreTab 2.5s forwards;
}
#vide{
    position: absolute;
    width: 450px;
    height: 450px;
    background: #111;
    border-radius: 5px;
    opacity: 0.4;
    display: none;
}
#scoreTab p a{
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-decoration: none;
    border: 2px black solid;
    background: rgba(174, 144, 182, 0.8);
    border-radius: 8px;
    font-size: 0.8em;
    margin-top: 2px;
}
#scoreTab p a:hover{
    color: #fff;
}
@keyframes scoreTab{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes palet1{
    from{
        background-position-x: 100%;
    }
    to{
        background-position-x: 0%;
    }
}
@keyframes palet2{
    from{
        background-position-x: 0%;
    }
    to{
        background-position-x: 100%;
    }
}