@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html{
    background: url("../img/backgroundtriad.png") center fixed no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
}
h1{
    font-family: "Pacifico";
    letter-spacing: .2em;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 2.5em;
    text-decoration: #eee underline;
    margin: 20px 0;
}
#menu{
    width: 800px;
    max-width: 800px;
    height: 400px;
    max-height: 400px;
    margin: auto;
    background: rgba(125, 87, 136, 0.8);
    border: 1px solid #444;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: "Pacifico";
    font-size: 2.5em;
    line-height: 1.75em;
    letter-spacing: .1em;
    align-items: center;
}
li a{
    text-decoration: none;
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
li a:hover{
    color: #fff;
}